header,
main {
  display: flex;
  justify-content: center;
  margin: 20px;
}

form,
main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  align-items: center;
}

.guestlist {
  // display: flex;
  // justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding: 20px 20px;
}

.removeButton {
  color: rgb(225, 236, 158);
  background-color: lightcoral;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: rgb(236, 100, 100);
  }
}

.button {
  color: aliceblue;
  background-color: lightslategray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background-color: rgb(133, 148, 168);
  }
}

input {
  background-color: aliceblue;
  text-align: center;
  font-size: 15px;
  border-radius: 4px;
  border-style: none;
  padding: 12px 20px;

  &:focus {
    border-style: none;
  }
}
