header,
main {
  display: flex;
  justify-content: center;
}

form,
main {
  display: grid;
  gap: 10px;
}

.guestlist {
  display: grid;
}

.button {
  color: aliceblue;
  background-color: lightslategray;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background-color: rgb(133, 148, 168);
  }
}

input {
  background-color: aliceblue;
  text-align: center;
  font-size: 15px;
  font-style: inherit;
  border-radius: 6px;
  border-style: none;
  padding: 10px 0;

  &:focus {
    border-style: none;
  }
}
